ProgramGenerator/src/org/multipage/generator/properties/enum_formats.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="Formats" type="FormatsType"></xsd:element>

    <xsd:complexType name="FormatsType">
    	<xsd:sequence minOccurs="0" maxOccurs="unbounded">

    		<xsd:element name="Format" type="FormatType"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FormatType">
    	<xsd:attribute name="Output" type="xsd:string" use="required"></xsd:attribute>
    	<xsd:attribute name="Input" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>
    
</xsd:schema>