ProgramMiddle/src/com/maclan/properties/mime_types.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="root" type="RootType"></xsd:element>
    
    <xsd:complexType name="RootType">
    	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
    		<xsd:element name="mime" type="MimeType"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MimeType">
    	<xsd:sequence minOccurs="1" maxOccurs="1">
    		<xsd:element name="type" type="xsd:string"></xsd:element>
    		<xsd:element name="extension" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>